html, body { height: 100%; }
#wrap {height: 100%;}
header {
  border-bottom: none;
  background-color: #ff972f;
  color: #fff;
}

.header {
  max-width: 1024px; overflow: hidden;
}

.header > .icon.previous {
  left: 47px;
}
.header > .icon.config {
  right: 47px;
}
.header > .icon:before {
  width: 32px;
  height: 32px;
  background-size: contain;
}

.header > .icon.previous:before {
  background-image: url(../img/icon/btn-left.png);
}

.header > .icon.config:before {
  background-image: url(../img/icon/icon-config.png);
}

.card {
  width: 100%; max-width: 1024px; margin: 0 auto;
  position: relative;
}

.card img { width: 100%; }

.form-group {
  position: relative;
  box-sizing: border-box;
}

.switch {
  position: absolute;
  right: 47px;
  top: 50%;
  margin-top: -32px;
}

.horizontal { height: 1px; padding: 0; border: none; line-height: 1px;}
.horizontal hr {border-style: solid; border-bottom: 0; border-color: #d2d2d2;}
.container header {
  background-color: #f7f7f7;
}
.toolbar {
  display: flex;
  justify-content: space-between
}
.toolbar .btn {
  height: 58px;
  font-size: 22px;
}
.btn.round {
  border-radius: 29px;
  padding: 14px 29px;
}
.btn.bg-outline {
  border: 2px solid #ff972f;
  background-color: #fff;
  color: #ff972f;
}

.checkbox {
	position: relative;
	display: inline-block;
	width: 32px;
  height: 32px;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 2px solid #eee;
  box-sizing: border-box;
  cursor: pointer;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid #ff972f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox:hover input ~ .checkmark,
.checkbox input:checked ~ .checkmark {
  border-color: #ccc;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}


.switch {
	/* position: relative; */
	display: inline-block;
	width: 118px;
	height: 63px;
}

.switch input {
	opacity: 0;
	width: 1;
	height: 1;
}

.switch > .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > .slider:before {
	position: absolute;
	content: '';
	height: 51px;
	width: 51px;
	left: 6px;
	bottom: 6px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > input:checked + .slider {
	background-color: #ff972f;
}

.switch > input:focus + .slider {
	box-shadow: 0 0 1px #ff972f;
}

.switch > input:checked + .slider:before {
	-webkit-transform: translateX(54px);
	-ms-transform: translateX(54px);
	transform: translateX(54px);
}

.slider.round {
	border-radius: 63px;
}

.slider.round:before {
	border-radius: 50%;
}


.chevron {
  display: block;
  width: 18px;
  height: 18px;
  border: solid #ccc;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.form-group .checkbox {
  position: absolute;
  left: 47px;
  top: 50%;
  margin-top: -16px;
}

.form-group .chevron {
  position: absolute;
  top: 50%;
  right: 47px;
  margin-top: -14px;
}

.btn-block { display: block; width: 100%; }
.btn-gray { background-color: #b7b7b7; color: #fff;}
.btn-primary { background-color: #ff972f !important; color: #fff !important;}

.fixed { position: fixed; }
.fixed.bottom { bottom: 0; }

.h-100 {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
}
.v-center {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%);
}


.modal-wrap {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  transition: all 0.3s cubic-bezier(0.66, -0.01, 0.3, 0.99);
  -webkit-transform: translateX(105vw);
  transform: translateX(105vw);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 2500;
}
.modal-wrap.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.modal-wrap .alert {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2501;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-top: 120px !important;
  font-weight: 700;
}

.alert:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  width: 125px;
  height: 228px;
  left: 50%;
  top: 0;
  background: transparent url(../img/icon/icon-alert.png) no-repeat 50% 50%;
  background-size: contain;
  transform: translate(-50%, -60%);
}

.button-group {
  display: flex;
}

.button-group > .custom-button {
  flex: 1 1 50%;
  font-weight: 700;
  padding: 10px;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  box-sizing: border-box;
}

.button-group > .custom-button:first-child {
  border-left-width: 0;
}

@media screen and (max-width: 1052px) {
  .font-31,
  .font-40 {
    font-size: 24px !important;
  }

  .modal-wrap .alert {
    padding-top: 100px !important;
  }
  .alert:before {
    width: 100px;
    height: 182px;
  }
}
@media screen and (max-width: 768px) {
  
  .font-31,
  .font-40 {
    font-size: 18px !important;
  }
  .modal-wrap .alert {
    padding-top: 80px !important;
  }
  .alert:before {
    width: 75px;
    height: 137px;
  }
 }