/** padding **/
.pl-8 {padding-left: 8px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-27 {padding-left: 27px !important;}
.pl-35 {padding-left: 35px !important;}
.pl-42 {padding-left: 42px !important;}
.pl-45 {padding-left: 45px !important;}
.pl-50 {padding-left: 50px !important;}
.pl-68 {padding-left: 68px !important;}
.pl-75 {padding-left: 75px !important;}
.pl-110 {padding-left: 110px !important;}
.pl-145 {padding-left: 145px !important;}

.pr-8 {padding-right: 8px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-27 {padding-right: 27px !important;}
.pr-35 {padding-right: 35px !important;}
.pr-42 {padding-right: 42px !important;}
.pr-45 {padding-right: 45px !important;}
.pr-50 {padding-right: 50px !important;}
.pr-68 {padding-right: 68px !important;}
.pr-75 {padding-right: 75px !important;}

.pr-160 {padding-right: 160px !important;}


.pt-8 {padding-top: 8px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-27 {padding-top: 27px !important;}
.pt-30 {padding-top: 30px !important;}
.pt-35 {padding-top: 35px !important;}
.pt-42 {padding-top: 42px !important;}
.pt-45 {padding-top: 45px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-75 {padding-top: 75px !important;}

.pb-8 {padding-bottom: 8px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-27 {padding-bottom: 27px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pb-42 {padding-bottom: 42px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-75 {padding-bottom: 75px !important;}
.pb-150 {padding-bottom: 150px !important;}

.px-8 {padding-left: 8px !important; padding-right: 8px !important;}
.px-10 {padding-left: 10px !important; padding-right: 10px !important;}
.px-15 {padding-left: 15px !important; padding-right: 15px !important;}
.px-27 {padding-left: 27px !important; padding-right: 27px !important;}
.px-35 {padding-left: 35px !important; padding-right: 35px !important;}
.px-42 {padding-left: 42px !important; padding-right: 43px !important;}
.px-45 {padding-left: 45px !important; padding-right: 45px !important;}
.px-47 {padding-left: 47px !important; padding-right: 47px !important;}
.px-50 {padding-left: 50px !important; padding-right: 50px !important;}
.px-60 {padding-left: 60px !important; padding-right: 60px !important;}
.px-75 {padding-left: 75px !important; padding-right: 75px !important;}
.px-100 {padding-left: 100px !important; padding-right: 100px !important;}
.px-160 {padding-left: 160px !important; padding-right: 160px !important;}

.py-8 {padding-top: 8px !important; padding-bottom: 8px !important;}
.py-10 {padding-top: 10px !important; padding-bottom: 10px !important;}
.py-15 {padding-top: 15px !important; padding-bottom: 15px !important;}
.py-16 {padding-top: 16px !important; padding-bottom: 16px !important;}
.py-17 {padding-top: 17px !important; padding-bottom: 17px !important;}
.py-27 {padding-top: 27px !important; padding-bottom: 27px !important;}
.py-35 {padding-top: 35px !important; padding-bottom: 35px !important;}
.py-42 {padding-top: 42px !important; padding-bottom: 43px !important;}
.py-45 {padding-top: 45px !important; padding-bottom: 45px !important;}
.py-50 {padding-top: 50px !important; padding-bottom: 50px !important;}
.py-60 {padding-top: 60px !important; padding-bottom: 60px !important;}
.py-75 {padding-top: 75px !important; padding-bottom: 75px !important;}

.pa-8 {padding: 8px !important;}
.pa-10 {padding: 10px !important;}
.pa-15 {padding: 15px !important;}
.pa-27 {padding: 27px !important;}
.pa-35 {padding: 35px !important;}
.pa-42 {padding: 42px !important;}
.pa-45 {padding: 45px !important;}
.pa-50 {padding: 50px !important;}
.pa-75 {padding: 75px !important;}





/** margin **/
.ml-8 {margin-left: 8px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.ml-27 {margin-left: 27px !important;}
.ml-30 {margin-left: 30px !important;}
.ml-35 {margin-left: 35px !important;}
.ml-42 {margin-left: 42px !important;}
.ml-45 {margin-left: 45px !important;}
.ml-50 {margin-left: 50px !important;}
.ml-75 {margin-left: 75px !important;}

.mr-8 {margin-right: 8px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.mr-27 {margin-right: 27px !important;}
.mr-30 {margin-right: 30px !important;}
.mr-35 {margin-right: 35px !important;}
.mr-42 {margin-right: 42px !important;}
.mr-45 {margin-right: 45px !important;}
.mr-50 {margin-right: 50px !important;}
.mr-75 {margin-right: 75px !important;}


.mt-8 {margin-top: 8px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-27 {margin-top: 27px !important;}
.mt-35 {margin-top: 35px !important;}
.mt-42 {margin-top: 42px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-86 {margin-top: 86px !important;}
.mt-75 {margin-top: 75px !important;}
.mt-150 {margin-top: 150px !important;}

.mb-8 {margin-bottom: 8px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-27 {margin-bottom: 27px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mb-42 {margin-bottom: 42px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-63 {margin-bottom: 63px !important;}
.mb-75 {margin-bottom: 75px !important;}
.mb-86 {margin-bottom: 86px !important;}
.mb-104 {margin-bottom: 104px !important;}
.mb-115 {margin-bottom: 115px !important;}
.mb-126 {margin-bottom: 126px !important;}

.mx-8 {margin-left: 8px !important; margin-right: 8px !important;}
.mx-10 {margin-left: 10px !important; margin-right: 10px !important;}
.mx-15 {margin-left: 15px !important; margin-right: 15px !important;}
.mx-27 {margin-left: 27px !important; margin-right: 27px !important;}
.mx-30 {margin-left: 30px !important; margin-right: 30px !important;}
.mx-35 {margin-left: 35px !important; margin-right: 35px !important;}
.mx-42 {margin-left: 42px !important; margin-right: 43px !important;}
.mx-45 {margin-left: 45px !important; margin-right: 45px !important;}
.mx-50 {margin-left: 50px !important; margin-right: 50px !important;}
.mx-57 {margin-left: 57px !important; margin-right: 57px !important;}
.mx-75 {margin-left: 75px !important; margin-right: 75px !important;}

.my-8 {margin-top: 8px !important; margin-bottom: 8px !important;}
.my-10 {margin-top: 10px !important; margin-bottom: 10px !important;}
.my-15 {margin-top: 15px !important; margin-bottom: 15px !important;}
.my-27 {margin-top: 27px !important; margin-bottom: 27px !important;}
.my-30 {margin-top: 30px !important; margin-bottom: 30px !important;}
.my-35 {margin-top: 35px !important; margin-bottom: 35px !important;}
.my-42 {margin-top: 42px !important; margin-bottom: 43px !important;}
.my-45 {margin-top: 45px !important; margin-bottom: 45px !important;}
.my-50 {margin-top: 50px !important; margin-bottom: 50px !important;}
.my-57 {margin-top: 57px !important; margin-bottom: 57px !important;}
.my-75 {margin-top: 75px !important; margin-bottom: 75px !important;}

.ma-8 {margin: 8px !important;}
.ma-10 {margin: 10px !important;}
.ma-15 {margin: 15px !important;}
.ma-27 {margin: 27px !important;}
.ma-30 {margin: 30px !important;}
.ma-35 {margin: 35px !important;}
.ma-42 {margin: 42px !important;}
.ma-45 {margin: 45px !important;}
.ma-50 {margin: 50px !important;}
.ma-75 {margin: 75px !important;}

.font-18 {font-size: 18.88px !important;}
.font-19 {font-size: 19.39px !important;}
.font-21 {font-size: 21.32px !important;}
.font-23 {font-size: 23.53px !important; line-height: 1.6; letter-spacing: -1px;}
.font-27 {font-size: 27.46px !important; line-height: 1.6}
.font-30 {font-size: 30.29px !important; line-height: 1.6}
.font-31 {font-size: 31.42px !important; line-height: 1.6}
.font-33 {font-size: 33.66px !important; line-height: 1.6}
.font-35 {font-size: 35.03px !important; line-height: 1.6}
.font-44 {font-size: 44.29px !important; line-height: 1.6}

.font-narrow { letter-spacing: -1px;}

.line-1 {line-height: 1.0em !important;}
.line-2 {line-height: 1.4em !important;}
.line-3 {line-height: 1.6em !important;}
.line-4 {line-height: 1.8em !important;}
.line-5 {line-height: 2.0em !important;}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media (max-width: 1021px) {
  .pl-8 {padding-left: 8px !important;}
  .pl-10 {padding-left: 10px !important;}
  .pl-15,
  .pl-27,
  .pl-35,
  .pl-42,
  .pl-45,
  .pl-50 {padding-left: 15px !important;}
  .pl-68,
  .pl-75 {padding-left: 20px !important;}
  .pl-110,
  .pl-145 {padding-left: 80px !important;}
  
  .pr-8 {padding-right: 8px !important;}
  .pr-10 {padding-right: 10px !important;}
  .pr-15,
  .pr-27,
  .pr-35,
  .pr-42,
  .pr-45,
  .pr-50 {padding-right: 15px !important;}
  .pr-68,
  .pr-75 {padding-right: 20px !important;}
  
  
  .pt-8 {padding-top: 8px !important;}
  .pt-10 {padding-top: 10px !important;}
  .pt-15,
  .pt-27,
  .pt-35,
  .pt-42,
  .pt-45,
  .pt-50 {padding-top: 15px !important;}
  .pt-75 {padding-top: 20px !important;}
  
  .pb-8 {padding-bottom: 8px !important;}
  .pb-10 {padding-bottom: 10px !important;}
  .pb-15,
  .pb-27,
  .pb-35,
  .pb-42,
  .pb-45,
  .pb-50 {padding-bottom: 15px !important;}
  .pb-75 {padding-bottom: 20px !important;}
  
  .px-8 {padding-left: 8px !important; padding-right: 8px !important;}
  .px-10 {padding-left: 10px !important; padding-right: 10px !important;}
  .px-15,
  .px-27,
  .px-35,
  .px-42,
  .px-45,
  .px-47,
  .px-50 {padding-left: 15px !important; padding-right: 15px !important;}
  .px-60,
  .px-75 {padding-left: 20px !important; padding-right: 20px !important;}
  
  .py-8 {padding-top: 8px !important; padding-bottom: 8px !important;}
  .py-10 {padding-top: 10px !important; padding-bottom: 10px !important;}
  .py-15,
  .py-27,
  .py-35,
  .py-42,
  .py-45,
  .py-50 {padding-top: 15px !important; padding-bottom: 15px !important;}
  .py-60,
  .py-75 {padding-top: 20px !important; padding-bottom: 20px !important;}
  
  .pa-8 {padding: 8px !important;}
  .pa-10 {padding: 10px !important;}
  .pa-15,
  .pa-27,
  .pa-35,
  .pa-42,
  .pa-45,
  .pa-50 {padding: 15px !important;}
  .pa-60,
  .pa-75 {padding: 20px !important;}
  
  
  
  
  
  /** margin **/
  .ml-8 {margin-left: 8px !important;}
  .ml-10 {margin-left: 10px !important;}
  .ml-15,
  .ml-27,
  .ml-30,
  .ml-35,
  .ml-42,
  .ml-45,
  .ml-50 {margin-left: 15px !important;}
  .ml-75 {margin-left: 20px !important;}
  
  .mr-8 {margin-right: 8px !important;}
  .mr-10 {margin-right: 10px !important;}
  .mr-15,
  .mr-27,
  .mr-30,
  .mr-35,
  .mr-42,
  .mr-45,
  .mr-50 {margin-right: 15px !important;}
  .mr-75 {margin-right: 20px !important;}
  
  
  .mt-8 {margin-top: 8px !important;}
  .mt-10 {margin-top: 10px !important;}
  .mt-15,
  .mt-27,
  .mt-35,
  .mt-42,
  .mt-45,
  .mt-50 {margin-top: 15px !important;}
  .mt-75 {margin-top: 20px !important;}
  .mt-86 {margin-top: 20px !important;}
  .mt-150 {margin-top: 30px !important;}
  
  .mb-8 {margin-bottom: 8px !important;}
  .mb-10 {margin-bottom: 10px !important;}
  .mb-15,
  .mb-27,
  .mb-35,
  .mb-30,
  .mb-42,
  .mb-45,
  .mb-50 {margin-bottom: 15px !important;}
  .mb-60,
  .mb-63 {margin-bottom: 20px !important;}
  .mb-75 {margin-bottom: 20px !important;}
  .mb-86 {margin-bottom: 20px !important;}
  .mb-104,
  .mb-115 {margin-bottom: 30px !important;}
  .mb-126 {margin-bottom: 35px !important;}
  
  .mx-8 {margin-left: 8px !important; margin-right: 8px !important;}
  .mx-10 {margin-left: 10px !important; margin-right: 10px !important;}
  .mx-15,
  .mx-27,
  .mx-30,
  .mx-35,
  .mx-42,
  .mx-45,
  .mx-50 {margin-left: 15px !important; margin-right: 15px !important;}
  .mx-57 {margin-left: 20px !important; margin-right: 20px !important;}
  .mx-75 {margin-left: 20px !important; margin-right: 20px !important;}
  
  .my-8 {margin-top: 8px !important; margin-bottom: 8px !important;}
  .my-10 {margin-top: 10px !important; margin-bottom: 10px !important;}
  .my-15,
  .my-27,
  .my-30,
  .my-35,
  .my-42,
  .my-45,
  .my-50 {margin-top: 15px !important; margin-bottom: 15px !important;}
  .my-57 {margin-top: 20px !important; margin-bottom: 20px !important;}
  .my-75 {margin-top: 20px !important; margin-bottom: 20px !important;}
  
  .ma-8 {margin: 8px !important;}
  .ma-10 {margin: 10px !important;}
  .ma-15,
  .ma-27,
  .ma-30,
  .ma-35,
  .ma-42,
  .ma-45,
  .ma-50 {margin: 15px !important;}
  .ma-75 {margin: 20px !important;}


  .font-18,
  .font-19 { font-size: 14px !important;}
  .font-21 {font-size: 16px !important;}
  .font-23,
  .font-27 {font-size: 18px !important; line-height: 1.6}
  .font-30,
  .font-31 {font-size: 21px !important;}
  .font-33,
  .font-35 {font-size: 24px !important;}

}
@media (max-width: 768px) { }
@media (max-width: 576px) { }